

<form action="/createuser" method="POST">
    <Legend>Create an account</Legend>
        Choose your username:<input type="text" name="username"><br>
        Choose your password:<input type="text" name="password"><br>
        Confirm password:<input type="text" name="password-confirmed"><br>
        <input type="submit" value="Let's play">
</form>