{{# if success}}
    <p>It worked</p>
{{ else }}
    {{# if errors}}
        <section class="errors">
            <ul>
                {{# each errors }}
                    <li>{{ this.msg }}</li>
                {{/each}}
            </ul>
        </section>
{{/if}}
<form action="/createuser" method="POST" onsubmit="return validateForm()">
    <legend>Create an account</legend>
        Choose your username:<input type="text" name="username" required><br>
        Choose your password:<input type="text" name="password" required><br>
        <!-- Cannot use slashes in name input -->
        Confirm password:<input type="text" name="passwordConfirmed" required><br>
        <input type="submit" value="Let's play">
</form>
{{/if}}